* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
    font-size: 62.5%;
}

body{
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

/* difficulty selector */

.difficultyBox{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
}
.difficultyBox__label{
    font-family: 'Roboto Slab';
    display: block;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 1rem;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}


.difficultyBox__input{
    opacity: 0;
    cursor: pointer;
}
.checkmark{
    position: absolute;
    top: -2px;
    left: 40px;
    height: 2rem;
    width: 2rem;
    background-color: #eee;
    border-radius: 50%;
}
.difficultyBox__label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
.difficultyBox__label input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.difficultyBox__label input:checked ~ .checkmark:after {
    display: block;
}
.difficultyBox__label .checkmark:after {
   top: 6px;
   left: 6px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}


/* sequencer */

.sequencer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}
article{
    transition: all .5s ease-out;
}
article.proRequierd{
    transform: scale(0);
    height: 0;
    opacity: 0;
}
.sequencer .controls{
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 1.5rem;

}

.controls h1{
    font-family: "Roboto Slab";
    font-weight: 500;

}
 
.controls select{
    width: 100%;
    border: none;
    width: 100%;
    background-color: #efefef;
    position: relative;
    outline: none;
    border-radius: 8px;
    padding: 0 .3rem;
}
/* .controls:nth-child(last-child)::after{
    content: "\25BC";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #000;
    counter-reset: none;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
} */

.controls button{
    background-color: none;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 100%;
}
.controls button.active{
    background: rgb(148, 143, 143);
}


.sequencer .padControls{
    display: flex;
    justify-content: center;
    /* padding: 0 1.5rem; */
}
.pad{
    width: 2rem;
    height: 1.8rem;
    background-color: #000;
    margin: 0 .4rem;
    transition: transform .3s ease;
}
.kick-pad{
    background-color: #CCE8E6;
}
.snare-pad{
    background-color: #A8BDC5;
}
.hihat-pad{
    background-color: #ffbf80;
}
.openhat-pad{
    background-color:#c3c388;
}
.crash-pad{
    background-color: #66ffff;
}
.tom-pad{
    background-color:#ff4d94 ;
}
.perc-pad{
    background-color: #ffff80;
}
.ride-pad{
    background-color: #a3a3c2;
}
.shaker-pad{
    background-color:#66ff99 ;
}




.start-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.start-div__btn{
    border-radius: 5px;
    border:none;
    padding: .5rem 1rem;
    width: 20%;
    background-color: rgb(208, 208, 208);
}

.speed-range{
    font-family: "Roboto Slab";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.speed-range__input{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color:rgb(208,208,208) ;
    border-radius: 10px;
    width: 50%;
    margin: 1rem;
}


/* difficulty switcher */
.kick-pad.active{
    background-color: #65a5a1;
}
.snare-pad.active{
    background-color: #0fa0da;
}
.hihat-pad.active{
    background-color: #f87c00;
}
.openhat-pad.active{
    background-color:#9b9b26;
}
.crash-pad.active{
    background-color: #00bbbb;
}
.tom-pad.active{
    background-color:#e2035c ;
}
.perc-pad.active{
    background-color: #ffff00;
}
.ride-pad.active{
    background-color: #5c5cd0;
}
.shaker-pad.active{
    background-color:#20c557 ;
}
    
.Pro .proRequierd{
   transform: scale(1);
   height: auto;
   opacity: 1;
}

/* activating pads */




@media screen and (min-width:768px) {
    .difficultyBox{
        background:#1b3a48 ;
        clip-path: polygon(0 0, 100% 0, 80% 60%, 20% 60%);
        
        align-items: flex-start;
        padding: 3rem 1rem;
        width: 50rem;
        height: 15rem;
        margin: auto;
    }
    .difficultyBox__label{
        color: white;
        font-size: 2rem;
        padding: 0 2rem;    
    }
    

    .checkmark{
        top: 5px;
        left: 65px;
        height: 2rem;
        width: 2rem;
    }

    
    /* sequencer */
    
    .sequencer{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0 5rem;
    }
    article{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    .sequencer .controls{
        display: grid;
        width: 50%;
        grid-template-columns: 1fr .3fr 1fr;
        padding: 1rem 1.5rem;
    
    }
    
    .controls h1{
        
        font-size: 2.5rem;
    
    }
     
    .controls select{
        
    }
    
    
    .controls button{
      
    }
    .sequencer .padControls{
        display: flex;
        justify-content: center;
        margin-left: 5rem;
        /* padding: 0 1.5rem; */
    }
    .pad{
        width: 4rem;
        height: 4rem;
       
        margin: 0 1rem;
    }
    .start-div{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .start-div__btn{
        border-radius: 50px;
        border:none;
        padding: .5rem 1rem;
        width: 10rem;
        height: 4rem;
        background-color: rgb(208, 208, 208);
    }
    
    .speed-range{
        font-family: "Roboto Slab";
        font-weight: 700;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .speed-range__input{
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color:rgb(208,208,208) ;
        border-radius: 10px;
        width: 20%;
        margin-bottom: 2rem;
    }

}